/* Catalog.css */
.catalog {
  padding: 20px;
  text-align: center; /* Center the title */
  flex-grow: 1;
}

.catalog__container {
  display: grid; /* Use grid layout for cards */
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Responsive grid */
  gap: 16px; /* Space between cards */
  margin-top: 2rem;
  max-width: 1440px;
  margin-inline: auto;
}
